<div class="container">
  <h1 style="margin-top: 10px; text-align: center">
    <span class="label label-danger">Create Your Profile</span>
  </h1>
  <form class="form-horizontal" role="form" style="border: 5px solid black; margin-top: 3%; margin-bottom: 3%">
    <div class="form-group">
      <label for="userName" class="col-sm-3 control-label">Username</label>
      <div class="col-sm-12">
        <input type="userName" name="userName" id="userName" [(ngModel)]="userName" placeholder="Username" class="form-control" autofocus required>
      </div>
    </div>
    <div class="form-group">
      <label for="email" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-12">
        <input type="email" name="email" id="email" [(ngModel)]="email" placeholder="Email" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="firstName" class="col-sm-3 control-label">First Name</label>
      <div class="col-sm-12">
        <input type="text" name="firstName" id="firstName" [(ngModel)]="firstName" placeholder="First Name" class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <label for="lastName" class="col-sm-3 control-label">Last Name</label>
      <div class="col-sm-12">
        <input type="text" name="lastName" id="lastName" [(ngModel)]="lastName" placeholder="Last Name" class="form-control" >
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-12">
        <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Password" class="form-control" required>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" class="form-control" style="margin-top: 5px" required>
      </div>
    </div>
    <div class="form-group">
      <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
      <div class="col-sm-12">
        <input type="date" name="birthDate" id="birthDate" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <div class="checkbox">
          <label>
            <input type="checkbox"> I accept
            <a href="#">terms</a>
          </label>
        </div>
      </div>
    </div>
    <!-- /.form-group -->
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" value="Register" class="btn btn-primary btn-block" (click)="createUser()">Register</button>
      </div>
    </div>
  </form>
  <!-- /form -->
</div>
<!-- ./container -->
