<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                    </div>    
                    <div class="content">
                        <h6 class="category text-gray">Member</h6>
                        <h4 class="card-title">John Doe</h4>
                        <p class="card-content">
                            about me
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
