#form1 {
    display:none;    
}

.card{
    margin: 10px;
}

.pb-cmnt-container {
    font-family: Lato;
    margin-top: 100px;
}

.pb-cmnt-textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid #F2F2F2;
}

#postResource{
    margin: auto;
    width: 80%;
    padding: 10px;
}
