<div class="container">
  <div class="row">

    <div class="col-md-8" id="postResource">

      <div class="panel panel-default">
        <div class="panel-body">
          <!-- <input type="text" class="form-control" id="postAuthor" placeholder="Author" [(ngModel)]='postAuthor' required> -->
          <input type="text" class="form-control" id="postTitle" placeholder="Title" [(ngModel)]='titlePost' required>
          <input type="text" class="form-control" placeholder="Description" [(ngModel)]="post" required>
          <input type="url" class="form-control" id="link" placeholder="Link to source" [(ngModel)]='link'>
          <div class="pull-right">
            <button type="button" class="btn btn-success" style="margin-top: 5px;" (click)='shareButton()'> Share </button>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-link btn-icon">
              <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" class="btn btn-link btn-icon">
              <i class="fa fa-users"></i>
            </button>
            <button type="button" class="btn btn-link btn-icon">
              <i class="fa fa-camera"></i>
            </button>
            <button type="button" class="btn btn-link btn-icon">
              <i class="fa fa-video-camera"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <all-resources *ngFor="let resource of allResource"
          [resource]="resource">
  </all-resources>  -->
</div>
