<div class="container">

  <div class="row">

    <div class="col-md-8" id="postResource">

      <div class="panel panel-default">
        <div class="panel-body">
          <input type="text" class="form-control" id="postTitle" placeholder="Title" [(ngModel)]='titlePost' required>
          <input type="text" class="form-control" placeholder="Make a post" [(ngModel)]="post" required>
          <input type="text" class="form-control" id="link" placeholder="link" [(ngModel)]='link'>
          <div class="pull-right">
            <button type="button" class="btn btn-success" style="margin-top: 5px;" (click)='newPanel()'> Share </button>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-group">
            <button type="button" class="btn btn-link btn-icon">
              <i class="fa fa-map-marker"></i>
            </button>
            <button type="button" class="btn btn-link btn-icon">
              <i class="fa fa-users"></i>
            </button>
            <button type="button" class="btn btn-link btn-icon">
              <i class="fa fa-camera"></i>
            </button>
            <button type="button" class="btn btn-link btn-icon">
              <i class="fa fa-video-camera"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <all-resources *ngFor="let resauce of allResource"
          [resauce]="resauce">
  </all-resources>
</div>
