<div class="page">
  <div class="page-content container-fluid">
    <div class="welcome-wrapper text-center" style="margin-top: 5%">
      <img src="assets/images/Inventory.jpg" style="height: 300px; padding: 5px;" />
      <h1>Welcome to Dev Resources!</h1>
      <!-- <h2>Created by Jerry Phan, Ryan Hardin, and Johnny Hinton</h2> -->
      <p>Post, Share, and Comment on your favorite developer resources to help others learn!</p>
      <form class="form-inline justify-content-center my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="username" aria-label="Search">
        <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" style="margin: 5px" type="submit"><a href="/resources">Login</a></button>
        <button class="btn btn-success my-2 my-sm-0" style="margin: 5px" type="submit"> <a href="/createProfile"> Sign Up</a></button>        
      </form>
      <br/>
    </div>
  </div>
</div>
