<div class="page">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Dev Resources</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="username" aria-label="Search">
          <input class="form-control mr-sm-2" type="search" placeholder="password" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" style="margin: 5px" type="submit">Login</button>
          <button class="btn btn-success my-2 my-sm-0" style="margin: 5px" type="submit">Sign Up</button>
        </form>
      </div>
    </nav>

    <div class="page-content container-fluid">
      <div class="welcome-wrapper text-center">

        <img src="assets/images/Inventory.jpg" style="height: 300px; padding: 5px;" />
        <h1>Welcome to Dev Resources!</h1>
        <p>Post, Share, and Comment on your favorite developer resources to help others learn!</p>
        <br/>
      </div>
    </div>
  </div>
</div>
