<div class="page">
  <div class="container">

    <div class="page-content container-fluid">
      <div class="welcome-wrapper text-center">

        <img src="assets/images/Inventory.jpg" style="height: 300px; padding: 5px;"/>
        <h1>Welcome to Dev Resources!</h1>
        <p>Post, Share, and Comment on your favorite developer resources to help others learn!</p>

        <h1 class="page-title">DevResources</h1>
        <br/>
        <div>
          <button class="btn btn-primary">Button</button>
          <button class="btn btn-primary">Button</button>
          <button class="btn btn-primary">Button</button>
        </div>
      </div>
    </div>
  </div>
</div>
